<footer>
    <div class="footerMain">
        <a href="/">@Meet&Game</a>
        <a href="/about">ABOUT</a>
        <a href="/contact">CONTACT</a>
        <a href="#" class="split"><i class="fa fa-facebook" title="Facebook"></i></a>
        <a href="#" class="split"><i class="fa fa-twitter" title="Twitter"></i></a>
    </div>
</footer>
</body>
</html>