<%- include('./partials/header.ejs')%>
    <main class="indexMain">
        <h1>About Meet&Game</h1>
        <p>Meet&Game is a platform to participate and create events that are related to anything video games. 
            Whether you want to join in on a tournament, or maybe you want to learn how to make them we're sure you can find something you'll be interested in.
        </p>
        <p>Check out our Events tab to see all the events available</p>
    </main>
    <%- include('./partials/footer.ejs')%> 