<%- include('./partials/header.ejs')%>
    <main class="indexMain">
        <h1>Welcome to Game & Meet</h1>
        <p>Attend our many kinds of events to meet people and enjoy game related activities. We have different game tournaments, 
            game creation lessons, costume contests, meetups to talk to others, and many more to come!
        </p>
        <p>Check out our Events section to see all the different events we have going on currently</p>
    </main>
    <%- include('./partials/footer.ejs')%> 